.navbar{
    border-bottom: 1px solid #202020;
    box-shadow: 0px -45px 60px #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem 0 2rem;
}

.navbar a{
    text-decoration: none;
    position: relative;
    font-size: 2rem;
    padding: 1rem;
    color: #202020;
    background: none;
}

.navbar button{
    border-color: transparent;
    background-color: transparent;
    font-size: 1.2rem;
    color: #202020;
}

.navbar button:hover{
    border-bottom: 1px solid #202020;
    cursor: pointer;
}

.cart{
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    align-items: center;
}
.cart :first-child{
    margin-right: .8rem;
}

.cart:hover{
    cursor: pointer;
}

